/* SG
# Components/Top Bar
*/
.autocomplete
  --border-color #CED0DA
  --background-image linear-gradient(0deg, #F2F4F7 0%, #fff 100%)
  --background-image--hover linear-gradient(0deg, #EAEEF3 0%, #fff 100%)
  --border-color--hover 1px solid #EA6211
  --text-color--hover #666
  border 1px solid var(--border-color)
  position absolute
  top calc(100% - 3px)
  left 0
  width calc(100% - 16px)
  z-index 9
  background white
  margin-left 8px
  margin-right 8px
  text-align left

  ol
    display block

  li
    border-bottom 1px solid var(--border-color)
    line-height 30px
    white-space nowrap
    padding-left 16px
    padding-right 16px
    text-overflow ellipsis
    display block
    overflow hidden
    cursor pointer

    &:hover
      background-image var(--background-image--hover)
      color var(--text-color--hover)
