/*
| Device         | Name      | Width  |
|----------------|-----------|--------|
| mobile         | mobile    | 320px  |
| tablet         | tablet    | 728px  |
| desktop small  | desktop_s | 1024px |
| desktop medium | desktop_m | 1440px |
| desktop large  | desktop_l | 2560px |

*/

$columns = 12
$baseline = 16px

$breakpoints = {
  mobile: 300px,
  tablet: 768px,
  desktop_s: 1024px,
  desktop_m: 1440px,
  desktop_l: 2560px,
}
