/* SG
# Element/Tag
*/

.tag
  --background-color #DFE1E5
  --text-color #354052
  background-color var(--background-color)
  border-radius 3px
  font-family SourceSansPro-Semibold
  font-size 10px
  line-height 13px
  color var(--text-color)
  padding 4px 10px
  display inline-block
  white-space nowrap

  &.is-black
    --background-color #516173
    --text-color #fff

  &.is-blue
    --background-color #36AF47
    --text-color #fff

  &.is-green
    --background-color #1991EB
    --text-color #fff

  &.is-grey--dark
    --background-color #C2CAD4
    --text-color #fff

  &.is-grey--light
    --background-color #DFE1E5
    --text-color #354052

  &.is-orange
    --background-color #F7981C
    --text-color #fff

  &.is-red
    --background-color #ED1C24
    --text-color #fff




